{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>

        {% if title %}
            <title>{{ title }} | IITD Forum</title>
        {% else %}
            <title>IITD Forum</title>
        {% endif %}

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">


        <script src="{% static 'post/jquery-3.1.1.min.js' %}"></script>
        <script src="{% static 'post/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'post/infinite.min.js' %}"></script>

        <!--Favicon-->
        <link rel="shortcut icon" href="#">

        <!-- Bootstrap CSS File-->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

        <!--CSS Style File-->
        <link rel="stylesheet" href="{% static 'post/style.css' %}">

        <!--Google Font File-->
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800&family=Roboto:wght@400;500;700;900&family=Spartan:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
        
        <!--JQuery File-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

        <!--Bootstrap Js File-->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <!--Font Awesome File-->
        <script src="https://kit.fontawesome.com/1d1574361f.js" crossorigin="anonymous"></script>

        

    </head>

    <body>

        <!--Loader div-->
        <div class="loader">
            <div class="square"></div>
        </div>

        <!--Navbar-->

        <nav class="navbar navbar navbar-fixed-top nav-top">
            <div class="container-fluid">
            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" id="collapse-btn" data-toggle="collapse" data-target="#myNavbar">
                    <i class="fa fa-bars" id="navicon" aria-hidden="true"></i>                    
                </button>
                <a class="search-icon" data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="fas fa-search"></i></a>
                <ul class="dropdown-menu search-bar-div">
                    <div class="search-bar">
                        <input class="form-control search-bar-input" name="search-bar" id="search-bar" onkeyup="searchBar(this);" placeholder="Search users...">
                        <div class="search-results collapse" id="search-results"> </div>
                    </div>
				</ul>
                <a class="navbar-brand" href="{% url 'home' %}">IITD Forum</a>
            </div>
            
            <div class="collapse navbar-collapse" id="myNavbar">
                
                <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_authenticated %}
                        <li>
                            <a class="notif-icon-link dropdown-toggle" data-toggle="dropdown" href="#" style="background-color: transparent;">
                                {% if request.user.profile.unseen_tag_count %} 
                                    <i class="fas fa-bell notif-icon"><span class="notif-count">{{ request.user.profile.unseen_tag_count }}</span></i>
                                {% else %}
                                    <i class="fas fa-bell notif-icon"></i>
                                {% endif %}
                            </a>
                            <ul class="dropdown-menu notif-container">
                                <div class="notif-content-div">
                                    <li>
                                        <div class="notif-head-div">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <font class="notif-head-font">
                                                        Notifications 
                                                        {% if request.user.profile.unseen_tag_count %}
                                                        ({{ request.user.profile.unseen_tag_count }})
                                                        {% endif %}
                                                    </font>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    {% for tag in request.user.tag_set.all %}
                                        <li>
                                            <a href="{% url 'post:tag_view' tag.id %}" class="tag-link">
                                                {% if tag.seen %}
                                                <div class="notif-div notif-seen">
                                                {% else %}
                                                <div class="notif-div">
                                                {% endif %}
                                                    <div class="row">
                                                        <div class="col-md-1">
                                                            <img class="img-circle profile-pic pull-left" style="margin:5px;" width=20 height=20 src="{{tag.tagger_image.url}}" alt="default.jpg">
                                                        </div>
                                                        
                                                        <div class="col-md-11">
                                                            <font class="notif-font">
                                                                <font class="notif-bold">{{tag.tagger_name}}</font>
                                                                {% if tag.tag_type == 'comment' %}
                                                                mentioned you in a comment on a post by <font class="notif-bold">{{tag.post_author_name}}</font>.
                                                                {% elif tag.tag_type == 'commented' %}
                                                                commented on your post.
                                                                {% else %}
                                                                tagged you in a post.
                                                                {% endif %}
                                                            </font>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    {% empty %}
                                        <div class="notif-div" style="background-color: #fff;">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <font class="notif-font">
                                                        No notifications.
                                                    </font>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    </li>
                                    {% if request.user.tag_set.count %}
                                        <li>
                                            <div class="notif-footer-div">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <center>
                                                            <a class="notif-footer-font" href="{% url 'post:mark_as_read' %}">Mark all as read</a>
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    {% endif %}
                                </div>
                                
                            </ul>
                        </li>
                        <li><a href="{% url 'users:profile_view' request.user.username %}">{{request.user.profile.first_name}}</a></li>
                        <li><a href="{% url 'logout' %}?next=/home">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
                        <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    {% endif %}
                    
                </ul>
                
            </div>
        
            </div>
        </nav>

        <div class="body-content" id="top">	      
            <div class="row">	           
            <div class="col-md-2"></div>	          
            <div class="col-md-7">	          
                {% if request.user.is_authenticated == False %}
                    <div class="alert alert-info">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <font class="message-font">
                            You are not logged in. 
                            You can
                            <a href="{% url 'login' %}"><strong>login</strong></a>
                            or 
                            <a href="{% url 'signup' %}"><strong>create an account</strong></a>
                            .
                        </font>
                    </div>
                {% endif %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <font class="message-font">{{ message }}</font>
                        </div>
                        {% endfor %}
                {% endif %}
                {% block content %}
                
                {% endblock %}
            </div>
            <div class="col-md-3">
                </div>
            </div>
            </div>
        </div>

        <!--Footer div-->
        <div id="footer">
            <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-7">
                <center>
                <ul class="list-inline">
                    <li><a href="https://github.com/architb12/collab" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Look up the GitHub Repository"><i class="fab fa-github-square fa-2x github"></i></a></li>
                </ul>
                <font class="footer-font">
                    Site designed and developed by Ritvik Gupta and Archit Bubna, IIT Delhi
                </font>
                </center>
            </div>
            <div class="col-md-3"></div>
            </div>
            </div>
        </div>

    </body>

    

    <!--JavaScript File-->
    <script src="{% static 'post/script.js' %}"></script>
    <script>
        //Search bar functionality
        function searchBar(obj){
            if(obj.value.length==0){
                $("#search-results").hide();
            }
            else $("#search-results").show();

            var search_text = obj.value
            $.ajax( 
            { 
                type:"GET", 
                url: "{% url 'users:search' %}", 
                data:{
                    'search_text' : search_text
                },
                success: function(data){
                    document.getElementById("search-results").innerHTML = data;
                }
            }) 
        }

        $('#search-bar').focusout(function(){
            $('#search-results').fadeOut();
        })

        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0]
        });
    </script>

</html>