{% extends "post/base.html" %}
{% block content %}
    <!-- Post Creation Form -->
    {% if request.user.is_authenticated %}
        <div class="create-post-div">
            <div class="write-post">
                <div class="row">
                    <div class="col-md-1">
                        <img class="img-circle profile-pic" width=60 height=60 src="{{ request.user.profile.image.url }}" alt="default.jpg">
                    </div>
                    <div class="col-md-11"  style="padding-top:15px;">
                        <font class="create-font">
                            What's on your mind, {{request.user.username}}?
                        </font>
                    </div>
                </div>
                <div class="form">
                    <form action="{% url 'post:post_create' %}" method="POST" class="form-horizontal">
                        {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-md-12">
                            <textarea name="post_text" class="form-control create-input" rows="5" placeholder="What's on your mind?" onkeyup="countChars(this);"></textarea>
                            <span class="create-input-focus"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <br>
                            <button type="submit" class="btn btn-default create-btn"> <span>POST</span> </button>
                        </div>
                        <div class="post-char-counter" id='charNum'  style="color:white;"> 0/5000 </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- Posts -->
    {% for post in posts %}
    <div class="home-post-div" id="post-{{ post.id }}-div">
        <div class="row">
            <div class="col-md-1">
                <img class="img-circle profile-pic" width=60 height=60 src="{{ post.author.profile.image.url }}" alt="default.jpg">
            </div>
            <div class="col-md-10">
                <a href="{% url 'users:profile_view' post.author.username %}" class="post-head">
                    <font class="username-font">
                        <b>{{post.author.username}}</b>
                    </font>

                    <br>
                    <font class="name-font">
                        {{post.author.profile.full_name}}
                    </font>
                </a>
                <br>
                <a href="{% url 'post:post_view' post.id %}" class="date-font">
                    {{post.pub_date}}
                </a>
                 
            </div>
            <div class="col-md-1 delete-div">
                {% if request.user == post.author %}
                <a href="#" class="delete-icon" data-catid="{{post.id}}" data-toggle="modal" data-target="#delete-modal" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Delete this post">
                    <i class="fas fa-trash-alt delete-icon"></i>
                </a>
                {% endif %}
            </div>
        </div>
        <hr class="hr1" align="left">
        <font class="post-content-font">
            <!-- 'See more' feature -->
            {% if post.text|linebreaks|length < 500 %}
                {{post.text|linebreaks}}
            {% else %}
                <div class="post-text-sliced" id="post-text-sliced{{post.id}}" data-catid="{{post.id}}"> {{post.text|linebreaks|slice:":450"}}... </div>
                <div class="collapse" id="post-text-full{{post.id}}" data-catid="{{post.id}}"> {{post.text|linebreaks}} </div>
                <div class="see-more" id="see-more{{post.id}}" data-catid="{{post.id}}"> See more </div>
                <div class="see-less" id="see-less{{post.id}}" data-catid="{{post.id}}"> </div>
            {% endif %}
        </font>
        <br>
        <!-- Post likes -->
        <div class="like-wrapper">
            {% if request.user in post.postlike.likers.all %}
                <div class="like-button-wrapper">
                    <i class="fa fa-heart liked like-button" aria-hidden="true" id="like{{ post.id }}" data-catid="{{ post.id }}"></i>
                </div>
                <div class="likes-count like-count-font" id="likes-count{{ post.id }}" data-catid="{{post.postlike.likers.count}}">
                    
                        {% if post.postlike.likers.count == 1 %}
                            You liked this post.
                        {% elif post.postlike.likers.count == 2 %}
                            You and one other liked this post.
                        {% else %} 
                            You and {{ post.postlike.likers.count|add:"-1" }} others liked this post.
                        {% endif %}
                        
                </div>
                
            {% else %}
                <div class="like-button-wrapper"> 
                    {% if request.user.is_authenticated %}
                        <i class="fa fa-heart-o likes like-button" aria-hidden="true" id="like{{ post.id }}" data-catid="{{ post.id }}"></i>
                    {% else %}
                        <a href="{% url 'login' %}"><i class="fa fa-heart-o likes like-button" aria-hidden="true" id="like{{ post.id }}" data-catid="{{ post.id }}"></i></a>
                    {% endif %}
                </div>
                <div class="likes-count like-count-font" id="likes-count{{ post.id }}" data-catid="{{post.postlike.likers.count}}">
                    
                        {% if post.postlike.likers.count == 0 %}
                            No likes yet.
                        {% elif post.postlike.likers.count == 1 %}
                            One person liked this post.
                        {% else %} 
                            {{ post.postlike.likers.count }} people liked this post.
                        {% endif %}
                        <br>
                </div>
            {% endif %}
            <div class="comments-count like-count-font">
                {% if post.comment_set.all|length == 0 %}
                    No comments yet.
                {% elif post.comment_set.all|length == 1 %}
                    1 comment.
                {% else %}
                    {{post.comment_set.all|length}} comments.
                {% endif %}
            </div>
        </div>
        {% if post.comment_set.all|length > 2 %}
            <div class="like-wrapper">
                <div class="likes-count" style="margin-left: 10px;">
                    <a href="{% url 'post:post_view' post.id %}" class="more-comments-font">View all {{post.comment_set.all|length}} comments.</a> 
                </div>
            </div>
        {% endif %}
        <!-- Post Comments -->
        {% for comment in post.comment_set.all|dictsortreversed:"pub_date"|slice:":2" %}
        <div id="comment-{{comment.id}}-div">
            <div class="comment-div">
                <div class="row">
                    <div class="col-md-1">
                        <img class="img-circle profile-pic" width=40 height=40 src="{{ comment.author.profile.image.url }}" alt="default.jpg">
                    </div>
                    <div class="col-md-10">
                        <a href="{% url 'users:profile_view' comment.author.username %}" class="post-head">
                            <font class="comment-username-font">
                                    <b>{{comment.author.username}}</b>
                                </a>
                                  {{comment.text}}
                            </font>
                        <br>
                        <font class="date-font">
                            {{comment.pub_date}}
                        </font>
                    </div>
                    <div class="col-md-1 comment-delete-div">
                        {% if request.user == comment.author %}
                        <a href="#" class="comment-delete-icon" data-catid="{{comment.id}}" data-toggle="modal" data-target="#delete-modal" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Delete this post">
                            <i class="fas fa-trash-alt delete-icon"></i>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    <!-- Modal for delete post and delete comment -->
    <div id="delete-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header modal-top">
                    <div class="modal-text" id="modal-text">
                        <font class="modal-heading" id="modal-heading">Are you sure you want to delete this post?</font>
                    </div>
                </div>
                <div class="modal-body">
                    <center>
                        <button class="btn btn-danger" id="delete" data-dismiss="modal" name="delete"> Yes </button>
                        <button type="button" class="btn btn-success" data-dismiss="modal"> Cancel </button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript"> 
        //AJAX for like button functionality
        $('.like-button').click(function(){ 
            var id; 
            id = $(this).attr("data-catid"); 
            $.ajax( 
            { 
                type:"GET", 
                url: "{% url 'post:post_like' %}", 
                data:{ 
                        post_id: id 
                }, 
                success: function( data ) 
                {
                    var likes = parseInt($('#likes-count'+id).attr("data-catid"))
                    if ($('#like' + id).hasClass('fa-heart-o')){
                        $( '#like' + id ).removeClass('fa-heart-o likes'); 
                        $( '#like' + id ).addClass('fa-heart liked'); 

                        var Div = document.getElementById("likes-count"+id);

                        if(likes==0){
                            Div.textContent = "You liked this post.";
                        }
                        else if(likes==1){
                            Div.textContent = "You and one other liked this post.";
                        }
                        else{
                            Div.textContent = "You and "+ (likes).toString() + " others liked this post.";
                        }

                        $('#likes-count'+id).attr("data-catid",(likes+1).toString())
                    }
                    else{
                        $( '#like' + id ).removeClass('fa-heart liked'); 
                        $( '#like' + id ).addClass('fa-heart-o likes'); 
                        
                        var Div = document.getElementById("likes-count"+id);

                        if(likes==1){
                            Div.textContent = "No likes yet.";
                        }
                        else if(likes==2){
                            Div.textContent = "One person liked this post.";
                        }
                        else{
                            Div.textContent = (likes-1).toString() + " people liked this post."
                        }

                        $('#likes-count'+id).attr("data-catid",(likes-1).toString())
                        
                    }
                }
            }) 
        });

        //Function to change value of confirmation button on deletion of comment
        $('.comment-delete-icon').click(function(){
            var id;            
            id = $(this).attr("data-catid");
            $('#delete').attr('value', 'c'+id);
            var Div = document.getElementById("modal-text");
            Div.textContent = "Are you sure you want to delete this comment?"
        });

        //Function to change value of confirmation button on deletion of post
        $('.delete-icon').click(function(){
            var id; 
            id = $(this).attr("data-catid");
            $('#delete').attr('value', id);
            var Div = document.getElementById("modal-text");
            Div.textContent = "Are you sure you want to delete this post?"
        });

        //AJAX for delete posts/comments functionality
        $('#delete').click(function(){
            var id;
            id = $(this).attr('value');
            if(id[0]=='c'){
                $.ajax(             
                { 
                type:"GET", 
                url: "{% url 'post:comment_delete' %}", 
                data:{ 
                    comment_id: id.slice(1)
                }, 
                success: function( data ) 
                {
                    $('#comment-' + id.slice(1) + '-div').fadeOut();
                }
                })
            }
            else{
                $.ajax(             
                { 
                type:"GET", 
                url: "{% url 'post:post_delete' %}", 
                data:{ 
                    post_id: id
                }, 
                success: function( data ) 
                {
                    $('#post-' + id + '-div').fadeOut();
                }
                })
            }
        });

        //See more-See less functionality
        $(".see-more").click(function(){
            var id;            
            id = $(this).attr("data-catid");
            $("#post-text-sliced"+id).hide();
            $("#post-text-full"+id).show();
            var see_more_div = document.getElementById("see-more"+id);
            see_more_div.textContent=""
            var see_less_div = document.getElementById("see-less"+id);
            see_less_div.textContent="See less"
        });

        $(".see-less").click(function(){
            console.log("SEELESS")
            var id;            
            id = $(this).attr("data-catid");
            $("#post-text-sliced"+id).show();
            $("#post-text-full"+id).hide();
            var see_more_div = document.getElementById("see-more"+id);
            see_more_div.textContent="See more"
            var see_less_div = document.getElementById("see-less"+id);
            see_less_div.textContent=""
        });

        //Character-counter for post creation
        function countChars(obj){
            if(obj.value.length <= 5000){
                document.getElementById("charNum").style.color = 'white';
            }
            else{
                document.getElementById("charNum").style.color = 'red';
            }
            document.getElementById("charNum").innerHTML = obj.value.length+'/5000';
        }
    </script>        
{% endblock content %}


