{% extends "post/base.html" %}
{% load post_filters %}
{% block content %}
<div class="home-post-div">
    <div class="row">
        <div class="col-md-1">
            <img class="img-circle profile-pic" width=60 height=60 src="{{ post.author.profile.image.url }}" alt="default.jpg">
        </div>
        <div class="col-md-10">
            <a href="{% url 'users:profile_view' post.author.username %}" class="post-head">
                <font class="username-font">
                    <b>{{post.author.username}}</b>
                </font>

                <br>
                <font class="name-font">
                    {{post.author.profile.full_name}}
                </font>
            </a>
            <br>
            <font class="date-font">
                {{post.pub_date}}
            </font>
        </div>
        <div class="col-md-1 delete-div">
            {% if request.user == post.author %}
                <a href="#" class="delete-icon" data-catid="{{post.id}}" data-toggle="modal" data-target="#delete-modal" target="_blank">
                    <i class="fas fa-trash-alt delete-icon"></i>
                </a>
            {% endif %}
        </div>
    </div>
    <hr class="hr1" align="left">
    <font class="post-content-font">
        <div class="content-div">
            {{post.text|urlize|linebreaks|tagize|safe}}
        </div>
    </font>
    <br>
    <div class="like-wrapper">
        {% if request.user in post.postlike.likers.all %}
            <div class="like-button-wrapper">
                <i class="fa fa-heart liked like-button" aria-hidden="true" id="like{{ post.id }}" data-catid="{{ post.id }}"></i>
            </div>
            <a href="#" data-toggle="modal" data-target="#like-modal-{{post.id}}" target="_blank">
                <div class="likes-count like-count-font" id="likes-count{{ post.id }}" data-catid="{{post.postlike.likers.count}}">
                    
                    {% if post.postlike.likers.count == 1 %}
                        You liked this post.
                    {% elif post.postlike.likers.count == 2 %}
                        You and one other liked this post.
                    {% else %} 
                        You and {{ post.postlike.likers.count|add:"-1" }} others liked this post.
                    {% endif %}

                </div>
            </a>
            
        {% else %}
            <div class="like-button-wrapper"> 
                {% if request.user.is_authenticated %}
                    <i class="fa fa-heart-o likes like-button" aria-hidden="true" id="like{{ post.id }}" data-catid="{{ post.id }}"></i>
                {% else %}
                    <a href="{% url 'login' %}"><i class="fa fa-heart-o likes like-button" aria-hidden="true" id="like{{ post.id }}" data-catid="{{ post.id }}"></i></a>
                {% endif %}
            </div>
            <a href="#" data-toggle="modal" data-target="#like-modal-{{post.id}}" target="_blank">
                <div class="likes-count like-count-font" id="likes-count{{ post.id }}" data-catid="{{post.postlike.likers.count}}">
                
                    {% if post.postlike.likers.count == 0 %}
                        No likes yet.
                    {% elif post.postlike.likers.count == 1 %}
                        One person liked this post.
                    {% else %} 
                        {{ post.postlike.likers.count }} people liked this post.
                    {% endif %}
            
                </div>
            </a>
        {% endif %}
        <div class="comments-count like-count-font">
            {% if post.comment_set.all|length == 0 %}
                No comments yet.
            {% elif post.comment_set.all|length == 1 %}
                1 comment.
            {% else %}
                {{post.comment_set.all|length}} comments.
            {% endif %}
        </div>
    </div>
    {% if request.user.is_authenticated %}
        <div class="comment-div">
            <div class="row">
                <div class="col-md-1">
                    <img class="img-circle profile-pic" width=40 height=40 src="{{ request.user.profile.image.url }}" alt="default.jpg">
                </div>
                <div class="col-md-11">
                    <div class="form">
                        <form action="{% url 'post:comment_create' %}" method="POST" class="form-horizontal">
                            {% csrf_token %}
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <textarea id="write-comment" name="comment_text" class="form-control comment-input" rows="2" placeholder="Write a comment....." onkeyup="countChars(this); tag(this);"></textarea>
                                    <span class="comment-input-focus"></span>
                                    <div class="collapse tag-suggestions" id="tag-suggestions"> </div>
                                </div> 
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="char-counter" id='charNum'> 0/500 </div>
                                    <button type="submit" name="post" class="comment-btn" value="{{post.id}}">Add comment</button>
                                </div>  
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="infinite-container">
    {% for comment in comments %}
        <div class="infinite-item">
            <div id="comment-{{comment.id}}-div">
                <div class="comment-div">
                    <div class="row">
                        <div class="col-md-1">
                            <img class="img-circle profile-pic" width=40 height=40 src="{{ comment.author.profile.image.url }}" alt="default.jpg">
                        </div>
                        <div class="col-md-10 content-div">

                            <a href="{% url 'users:profile_view' comment.author.username %}" class="post-head">
                            <font class="comment-username-font">
                                <b>{{comment.author.username}}</b>
                                </a>
                                {{comment.text|urlize|linebreaks|tagize|safe}}
                            </font>
                            <font class="date-font">
                                {{comment.pub_date}}
                            </font>
                        </div>
                        <div class="col-md-1 comment-delete-div">
                            {% if request.user == comment.author %}
                            <a href="#" class="comment-delete-icon" data-catid="{{comment.id}}" data-toggle="modal" data-target="#delete-modal" target="_blank">
                                <i class="fas fa-trash-alt delete-icon"></i>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

{% if comments.has_next %}
    <a class="infinite-more-link" href="?page={{ comments.next_page_number }}">More</a>
{% endif %}

<div class="loading" style="display: none;">
    Loading...
</div>

<!-- Modal for likes on a post -->
<div id="like-modal-{{post.id}}" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header modal-top">
                <div class="modal-text" id="modal-like">
                    <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times"></i></button>
                    <font class="modal-heading">People who liked this post</font>
                </div>
            </div>
            <div class="modal-body">
                {% for liker in post.postlike.likers.all %}
                    <div class="row user-wrapper">
                        <div class="col-md-3">
                            <img class="img-circle profile-pic" width=40 height=40 src="{{ liker.profile.image.url }}" alt="default.jpg">
                        </div>
                        <div class="col-md-9">
                            <a href="{% url 'users:profile_view' liker.username %}" class="liker-link">
                                <font class="liker-username-font">
                                    {{liker.username}}
                                </font>
                                <br>
                                <font class="liker-name-font">
                                    {{liker.profile.full_name}}
                                </font>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


<!-- Modal for delete post and delete comment -->
<div id="delete-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header modal-top">
                <div class="modal-text modal-heading" id="modal-text">
                    Are you sure you want to delete this post?
                </div>
            </div>
            <div class="modal-body">
                <center>
                    <button class="btn btn-danger" id="delete" data-dismiss="modal" name="delete"> Yes </button>
                    <button type="button" class="btn btn-success" data-dismiss="modal"> Cancel </button>
                </center>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript"> 
    //AJAX for like button functionality
    $(document).on("click",'.like-button',function(){ 
        var id; 
        id = $(this).attr("data-catid"); 
        $.ajax( 
        { 
            type:"GET", 
            url: "{% url 'post:post_like' %}", 
            data:{ 
                    post_id: id 
            }, 
            success: function( data ) 
            {
                var likes = parseInt($('#likes-count'+id).attr("data-catid"))
                if ($('#like' + id).hasClass('fa-heart-o')){
                    $( '#like' + id ).removeClass('fa-heart-o likes'); 
                    $( '#like' + id ).addClass('fa-heart liked'); 

                    var Div = document.getElementById("likes-count"+id);

                    if(likes==0){
                        Div.textContent = "You liked this post.";
                    }
                    else if(likes==1){
                        Div.textContent = "You and one other liked this post.";
                    }
                    else{
                        Div.textContent = "You and "+ (likes).toString() + " others liked this post.";
                    }

                    $('#likes-count'+id).attr("data-catid",(likes+1).toString())
                }
                else{
                    $( '#like' + id ).removeClass('fa-heart liked'); 
                    $( '#like' + id ).addClass('fa-heart-o likes'); 
                    
                    var Div = document.getElementById("likes-count"+id);

                    if(likes==1){
                        Div.textContent = "No likes yet.";
                    }
                    else if(likes==2){
                        Div.textContent = "One person liked this post.";
                    }
                    else{
                        Div.textContent = (likes-1).toString() + " people liked this post."
                    }

                    $('#likes-count'+id).attr("data-catid",(likes-1).toString())
                    
                }
            }
        })
    });

    //Function to change value of confirmation button on deletion of comment
    $(document).on("click",'.comment-delete-icon',function(){
            var id;            
            id = $(this).attr("data-catid");
            $('#delete').attr('value', 'c'+id);
            var Div = document.getElementById("modal-text");
            Div.textContent = "Are you sure you want to delete this comment?"
        });

    //Function to change value of confirmation button on deletion of post
    $(document).on("click",'.delete-icon',function(){
        var id; 
        id = $(this).attr("data-catid");
        $('#delete').attr('value', id);
        var Div = document.getElementById("modal-text");
        Div.textContent = "Are you sure you want to delete this post?"
    });

    //AJAX for delete posts/comments functionality
    $('#delete').click(function(){
        var id;
        id = $(this).attr('value');
        if(id[0]=='c'){
            $.ajax(             
            { 
            type:"GET", 
            url: "{% url 'post:comment_delete' %}", 
            data:{ 
                comment_id: id.slice(1)
            }, 
            success: function( data ) 
            {
                if(data=='success'){
                    $('#comment-' + id.slice(1) + '-div').fadeOut();
                }
            }
            })
        }
        else{
            $.ajax(             
            { 
            type:"GET", 
            url: "{% url 'post:post_delete' %}", 
            data:{ 
                post_id: id,
            }, 
            success: function( data ) 
            {
                window.location.replace("{% url 'home' %}");
            }
            })
        }
    });

    //Character-counter for comment creation
    function countChars(obj){
            if(obj.value.length <= 500){
                document.getElementById("charNum").style.color = 'black';
            }
            else{
                document.getElementById("charNum").style.color = 'red';
            }
            document.getElementById("charNum").innerHTML = obj.value.length+'/500';
        }
    
    //Real time tagging in post textarea
    function tag(obj){
            var pos = obj.selectionStart;
            var text = obj.value.slice(0,pos);
            var tagpos = text.lastIndexOf('@')
            if(tagpos != -1 && ( text.lastIndexOf(' ') == tagpos-1 || text.lastIndexOf('\n') == tagpos-1)){
                $('#tag-suggestions').show();
                var search_text= text.slice(tagpos+1);
                $.ajax( 
                { 
                    type:"GET", 
                    url: "{% url 'post:tag_search' %}", 
                    data:{
                        'search_text' : search_text
                    },
                    success: function(data){
                        document.getElementById("tag-suggestions").innerHTML = data;
                    }
                }) 
            }
            else{
                $('#tag-suggestions').hide();
            }
            
        };
        // Auto-complete input on clicking tag-suggestion
        function tag_complete(obj){
            var pos = document.getElementById('write-comment').selectionStart;
            var text = $('#write-comment').val()
            var text_sliced = text.slice(0,pos)
            var tagpos = text_sliced.lastIndexOf('@')
            var new_text = text.slice(0,tagpos+1) + obj + ' ' + text.slice(pos)
            document.getElementById('write-comment').value = new_text
            $('#write-comment').focus();
            document.getElementById('write-comment').selectionStart = tagpos + obj.length + 2;
            document.getElementById('write-comment').selectionEnd = tagpos + obj.length + 2;
            $('#tag-suggestions').hide();
        }
</script>        

{% endblock %}