html, body {
    width: auto !important;
    overflow-x: hidden !important;
}
  
body{
      position:relative;
      max-width:100%;
}

.loader{
	background-color:#222;
	width:100vw;
	height:100vh;
	position: fixed;
	z-index:999999999;
}

.square{
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width:70px;
	height: 70px;
	background-color:#fff;
	position: absolute;
	-webkit-animation: load 1.2s infinite ease-in-out;
	animation: load 1.2s infinite ease-in-out;
}

@-webkit-keyframes load {
	0% { -webkit-transform: perspective(150px) rotateY(0deg) rotateX(0deg)}
	50% { -webkit-transform: perspective(150px) rotateY(180deg) rotateX(0deg)}
	100% { -webkit-transform: perspective(150px) rotateY(180deg)  rotateX(180deg) }
}
  
@keyframes load {
	0% { 
	  transform: perspective(150px) rotateX(0deg) rotateY(0deg);
	  -webkit-transform: perspective(150px) rotateX(0deg) rotateY(0deg); 
	} 50% { 
	  transform: perspective(150px) rotateX(-180deg) rotateY(0deg);
	  -webkit-transform: perspective(150px) rotateX(-180deg) rotateY(0deg);
	  background-color:#89c7f6;
	} 100% { 
	  transform: perspective(150px) rotateX(-180deg) rotateY(-180deg);
	  -webkit-transform: perspective(150px) rotateX(-180deg) rotateY(-180deg);
	}
}

.navbar{
	background-color:#222;
	margin:0px;
	padding:0px;
}

.modal-top{
	background-color: #89c7f6;
}

.modal-heading{
	color:#fff;
	font-family: 'Raleway',sans-serif;
	font-weight: 500;
	font-size: 20px;
}

.form{
	padding:20px;
}

.label-font{
	font-family: 'Raleway',sans-serif;
	font-size:16px;
	color:#222;
}

form{
	font-family: 'Raleway',sans-serif;
}

.sub-btn{
	background-color: #89c7f6;
	color: #fff;
	font-family: 'Raleway',sans-serif;
	font-weight: 600;
}

.comment{
	background-color: #f7f7f7;
}

.comment-head{
	font-family: 'Raleway',sans-serif;
	color:#222;
	font-size:20px;
	font-weight: 700;
}

.comment-font{
	font-family: 'Raleway',sans-serif;
	color:#222;
	font-size:16px;
}

#head{
	font-family: 'Raleway', sans-serif;
	font-size:20px; 
	letter-spacing:0.4px;
	color:#89c7f6;
	border-bottom:3px solid inherit;
	transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
}

#head:hover{
	color:#5bacc3;
	border-bottom:3px solid #5bacc3;
}

.navbar-inverse .navbar-toggle .icon-bar{
	color:#fff;
}

.navbar-inverse .navbar-collapse .navbar-right li a{
	text-decoration:none;
	color:#fff;
	font-family: 'Raleway', sans-serif;
	font-size:16px;
	font-weight:500;
	border-bottom:3px solid transparent;
	transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
}

.navbar-inverse .navbar-collapse .navbar-right li a:hover{
	color:#89c7f6;
	border-bottom:3px solid #89c7f6;
}

#collapse-btn{
	color:#89c7f6;
	background-color: transparent;
	border:2px solid #89c7f6;
	transition:all 0.2s ease;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
}

#collapse-btn:hover{
	background-color: #89c7f6;
	color:#222;
}

.head1{
    font-family: 'Raleway', sans-serif;
    color:#fff;
    font-size: 75px;
    transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	-moz-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
}

.down{
    color:#fff;
    transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	-moz-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
}

.down:hover{
	color: #4d9fde;
}

#home{
    background-image: url("back.jpg");
    background-attachment: fixed;
	overflow: hidden;
	background-size: cover;
	height:100vh;
}

.head2{
	font-family: 'Raleway', sans-serif;
	color:#222;
}

#abt-me{
	background-color: #fff;
}

.hr1{
	background-color:#222;
	width:30%;
	height:3px;
}

.font1{
	font-family: 'Raleway',sans-serif;
	color:#222;
	font-size: 20px;
}

#achvmnts{
	background-color:#f7f7f7;
}

.font2{
	font-family: 'Raleway',sans-serif;
	font-size:24px;
	color:#222;
}

.font3{
	font-family: 'Raleway',sans-serif;
	font-size:18px;
	color:#222;
}

.quiz{
	color:#222;
	transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	-moz-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
}

.quiz:hover{
	color:#FFDC17;
}

.font4{
	font-family: 'Raleway',sans-serif;
	font-size:35px;
	color:#222;
}

#quiz1{
	background-image: url("quiz.jpg");
    background-attachment: fixed;
	background-position: center;
	overflow: hidden;
	background-size: cover;
	height:50vh;
}

#quiz2{
	background-color: #fff;
}

.photo{
	color:#222;
	transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	-moz-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
}

.photo:hover{
	color: #775239;
}

#photo2{
	background-image: url("photo.jpg");
    background-attachment: fixed;
	background-position: center;
	overflow: hidden;
	background-size: cover;
	height:50vh;
}

#photo1{
	background-color: #f7f7f7;
	height: 50vh;
}

#web1{
	background-image: url("web.png");
    background-attachment: fixed;
	background-position: center;
	overflow: hidden;
	background-size: cover;
	height:50vh;
}

#web2{
	background-color: #fff;
}

.web{
	color:#222;
	transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	-moz-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
}

.web:hover{
	color:#408c65;
}

.graphic{
	height:130px;
	width:130px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	-moz-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
}

.graphic:hover{
	-webkit-filter: none;
	filter: none;
}

#graphic2{
	background-image: url("graphics_bg.jpg");
    background-attachment: fixed;
	background-position: center;
	overflow: hidden;
	background-size: cover;
	height:50vh;
}

#graphic1{
	background-color: #f7f7f7;
	height: 50vh;
}

.facebook{
	color:#222;
	transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
}

.facebook:hover{
	color:#4167b2;
}

.github{
	color:#222;
	transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
}

.github:hover{
	color:#f8a001;
}

.insta{
	color:#222;
	transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
}

.insta:hover{
	color:#cf1e4e;
}

.email{
	color:#222;
	transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
}

.email:hover{
	color:#5bacc3;
}

#footer{
	padding-top:40px;
	padding-bottom: 30px;
}

.footer_font{
	font-family: 'Raleway',sans-serif;
	font-size: 15px;
	font-weight: 700;
	color:#222;
}