{% extends 'post/base.html' %}
{% load widget_tweaks %}
{% block content %}
{% load static %}
    <!--Fengyuan Chen's Datepicker-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

    <div class="row">
        <div class="col-md-12">
            <div class="setup-heading">
                Edit your profile
            </div>
            <a href="{% url 'users:profile_view' request.user %}">
            <button type="submit" name="skip-btn" class="skip-btn" >Cancel <i class="fas fa-angle-double-right"></i></button>	
            </a>
        </div>
    </div>
    <br>
   <br>
   <div class="form">
       <div class="create-post-div" style="padding:20px;">
        <form method="post" class="form-horizontal" novalidate>
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                <div class="form-group row edit-form-div">
                    <div class="control-label col-md-3 label-font">
                        {{ field.label_tag }}
                    </div>
                    <div class="col-md-9">
                        {% render_field field class="form-control login-input" placeholder=field.label %}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger" role="alert">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <font class="message-font">{{ error }}</font>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
       </div>
            <div class="form-group row">
                <center>
                    <button type="submit" style="float: none;" class="skip-btn">Submit <i class="fas fa-angle-double-right"></i></button>
                </center>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        $(function () {
           $("#id_date_of_birth").datepicker({
               format:'dd/mm/yyyy',
           });
       });
   </script>
{% endblock %}