{% extends "post/base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-3 profile-img-div">
            <img class="img-circle img-responsive profile-pic" style="float: left;" width=150 height=150 src="{{ user.profile.image.url }}" alt="default.jpg">
        </div>
        <div class="col-md-9 profile-details-div">
            <br>
            <font class="username-font">
                {{user.username}}
            </font>
            <br>
            <font class="name-font">
                {{user.profile.full_name}}
            </font>
            <br><br>
            <font class="details-font">
                <i class="fas fa-home"></i>&nbsp; {{user.profile.hostel}}
                <br>
                <i class="far fa-building"></i>&nbsp; {{user.profile.dept}}
                <br>
                <i class="fas fa-birthday-cake"></i>&nbsp; {{user.profile.date_of_birth}}
            </font>   
        </div>
    </div>
    <div class="bio-div">
        <br>
        <font class="bio-font">
            {{user.profile.bio|urlize|linebreaks}}
        </font>
    </div>
    {% for post in posts %}
    <div class="home-post-div"  id="post-{{ post.id }}-div">
        <div class="row">
            <div class="col-md-1">
                <img class="img-circle profile-pic" width=60 height=60 src="{{ post.author.profile.image.url }}" alt="default.jpg">
            </div>
            <div class="col-md-10">
                <font class="username-font">
                    <b>{{post.author.username}}</b>
                </font>
                <br>
                <font class="name-font">
                    {{post.author.profile.full_name}}
                </font>
                <br>
                <a href="{% url 'post:post_view' post.id %}" class="date-font">
                    {{post.pub_date}}
                </a>
                 
            </div>
            <div class="col-md-1 delete-div">
                {% if request.user == post.author %}
                <a href="#" class="delete-icon" data-catid="{{post.id}}" data-toggle="modal" data-target="#delete-modal" target="_blank">
                    <i class="fas fa-trash-alt delete-icon"></i>
                </a>
                {% endif %}
            </div>
        </div>
        <hr class="hr1" align="left">
        <font class="post-content-font">
            <!-- 'See more' feature -->
            {% if post.text|linebreaks|length < 600 %}
                <div class="content-div"> {{post.text|urlize|linebreaks}} </div>
            {% else %}
                <div class="post-text-sliced content-div" id="post-text-sliced{{post.id}}" data-catid="{{post.id}}"> {{post.text|linebreaks|slice:":450"}}... </div>
                <div class="collapse content-div" id="post-text-full{{post.id}}" data-catid="{{post.id}}"> {{post.text|linebreaks}} </div>
                <div class="see-more" id="see-more{{post.id}}" data-catid="{{post.id}}"> See more </div>
                <div class="see-less" id="see-less{{post.id}}" data-catid="{{post.id}}"> </div>
            {% endif %}
        </font>
        <br>
        <div class="like-wrapper">
            {% if request.user in post.postlike.likers.all %}
                <div class="like-button-wrapper">
                    <i class="fa fa-heart liked like-button" aria-hidden="true" id="like{{ post.id }}" data-catid="{{ post.id }}"></i>
                </div>
                <a href="#" data-toggle="modal" data-target="#like-modal-{{post.id}}" target="_blank">
                    <div class="likes-count like-count-font" id="likes-count{{ post.id }}" data-catid="{{post.postlike.likers.count}}">
                        
                        {% if post.postlike.likers.count == 1 %}
                            You liked this post.
                        {% elif post.postlike.likers.count == 2 %}
                            You and one other liked this post.
                        {% else %} 
                            You and {{ post.postlike.likers.count|add:"-1" }} others liked this post.
                        {% endif %}

                    </div>
                </a>
            {% else %}
                <div class="like-button-wrapper"> 
                    {% if request.user.is_authenticated %}
                        <i class="fa fa-heart-o likes like-button" aria-hidden="true" id="like{{ post.id }}" data-catid="{{ post.id }}"></i>
                    {% else %}
                        <a href="{% url 'login' %}"><i class="fa fa-heart-o likes like-button" aria-hidden="true" id="like{{ post.id }}" data-catid="{{ post.id }}"></i></a>
                    {% endif %}
                </div>
                <a href="#" data-toggle="modal" data-target="#like-modal-{{post.id}}" target="_blank">
                    <div class="likes-count like-count-font" id="likes-count{{ post.id }}" data-catid="{{post.postlike.likers.count}}">
                    
                        {% if post.postlike.likers.count == 0 %}
                            No likes yet.
                        {% elif post.postlike.likers.count == 1 %}
                            One person liked this post.
                        {% else %} 
                            {{ post.postlike.likers.count }} people liked this post.
                        {% endif %}
                
                    </div>
                </a>
                
            {% endif %}
            <div class="comments-count like-count-font">
                {% if post.comment_set.all|length == 0 %}
                    No comments yet.
                {% elif post.comment_set.all|length == 1 %}
                    1 comment.
                {% else %}
                    {{post.comment_set.all|length}} comments.
                {% endif %}
            </div>
        </div>
        {% if post.comment_set.all|length > 2 %}
            <div class="like-wrapper">
                <div class="likes-count" style="margin-left: 10px;">
                    <a href="{% url 'post:post_view' post.id %}" class="more-comments-font">View all {{post.comment_set.all|length}} comments.</a> 
                </div>
            </div>
        {% endif %}
        {% for comment in post.comment_set.all|dictsortreversed:"pub_date"|slice:":2" %}
        <div id="comment-{{comment.id}}-div">
            <div class="comment-div">
                <div class="row">
                    <div class="col-md-1">
                        <img class="img-circle profile-pic" width=40 height=40 src="{{ comment.author.profile.image.url }}" alt="default.jpg">
                    </div>
                    <div class="col-md-10 content-div">
                        <a href="{% url 'users:profile_view' comment.author.username %}" class="post-head">
                            <font class="comment-username-font">
                                    <b>{{comment.author.username}}</b>
                                </a>
                                  {{comment.text|urlize}}
                            </font>
                        <br>
                        <font class="date-font">
                            {{comment.pub_date}}
                        </font>
                    </div>
                    <div class="col-md-1 comment-delete-div">
                        {% if request.user == comment.author %}
                        <a href="#" class="comment-delete-icon" data-catid="{{comment.id}}" data-toggle="modal" data-target="#delete-modal" target="_blank">
                            <i class="fas fa-trash-alt delete-icon"></i>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Modal for likes on a post -->
    <div id="like-modal-{{post.id}}" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header modal-top">
                    <div class="modal-text" id="modal-like">
                        <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times"></i></button>
                        <font class="modal-heading">People who liked this post</font>
                    </div>
                </div>
                <div class="modal-body">
                    {% for liker in post.postlike.likers.all %}
                        <div class="row user-wrapper">
                            <div class="col-md-3">
                                <img class="img-circle profile-pic" width=40 height=40 src="{{ liker.profile.image.url }}" alt="default.jpg">
                            </div>
                            <div class="col-md-9">
                                <a href="{% url 'users:profile_view' liker.username %}" class="liker-link">
                                    <font class="liker-username-font">
                                        {{liker.username}}
                                    </font>
                                    <br>
                                    <font class="liker-name-font">
                                        {{liker.profile.full_name}}
                                    </font>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- Modal for delete post -->
    <div id="delete-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header modal-top">
                    <div class="modal-text modal-heading" id="modal-text">
                        Are you sure you want to delete this post?
                    </div>
                </div>
                <div class="modal-body">
                    <center>
                        <button class="btn btn-danger" id="delete" data-dismiss="modal" name="delete"> Yes </button>
                        <button type="button" class="btn btn-success" data-dismiss="modal"> Cancel </button>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript"> 
        //AJAX for like button functionality
        $('.like-button').click(function(){ 
            var id; 
            id = $(this).attr("data-catid"); 
            $.ajax( 
            { 
                type:"GET", 
                url: "{% url 'post:post_like' %}", 
                data:{ 
                        post_id: id 
                }, 
                success: function( data ) 
                {
                    var likes = parseInt($('#likes-count'+id).attr("data-catid"))
                    if ($('#like' + id).hasClass('fa-heart-o')){
                        $( '#like' + id ).removeClass('fa-heart-o likes'); 
                        $( '#like' + id ).addClass('fa-heart liked'); 

                        var Div = document.getElementById("likes-count"+id);

                        if(likes==0){
                            Div.textContent = "You liked this post.";
                        }
                        else if(likes==1){
                            Div.textContent = "You and one other liked this post.";
                        }
                        else{
                            Div.textContent = "You and "+ (likes).toString() + " others liked this post.";
                        }

                        $('#likes-count'+id).attr("data-catid",(likes+1).toString())
                    }
                    else{
                        $( '#like' + id ).removeClass('fa-heart liked'); 
                        $( '#like' + id ).addClass('fa-heart-o likes'); 
                        
                        var Div = document.getElementById("likes-count"+id);

                        if(likes==1){
                            Div.textContent = "No likes yet.";
                        }
                        else if(likes==2){
                            Div.textContent = "One person liked this post.";
                        }
                        else{
                            Div.textContent = (likes-1).toString() + " people liked this post."
                        }

                        $('#likes-count'+id).attr("data-catid",(likes-1).toString())
                        
                    }
                }
            }) 
        });
        
        //Function to change value of confirmation button on deletion of comment
        $('.comment-delete-icon').click(function(){
            var id;            
            id = $(this).attr("data-catid");
            $('#delete').attr('value', 'c'+id);
            var Div = document.getElementById("modal-text");
            Div.textContent = "Are you sure you want to delete this comment?"
        });

        //Function to change value of confirmation button on deletion of post
        $('.delete-icon').click(function(){
            var id; 
            id = $(this).attr("data-catid");
            $('#delete').attr('value', id);
            var Div = document.getElementById("modal-text");
            Div.textContent = "Are you sure you want to delete this post?"
        });

        //AJAX for delete posts/comments functionality
        $('#delete').click(function(){
            var id;
            id = $(this).attr('value');
            if(id[0]=='c'){
                $.ajax(             
                { 
                type:"GET", 
                url: "{% url 'post:comment_delete' %}", 
                data:{ 
                    comment_id: id.slice(1)
                }, 
                success: function( data ) 
                {
                    $('#comment-' + id.slice(1) + '-div').fadeOut();
                }
                })
            }
            else{
                $.ajax(             
                { 
                type:"GET", 
                url: "{% url 'post:post_delete' %}", 
                data:{ 
                    post_id: id
                }, 
                success: function( data ) 
                {
                    $('#post-' + id + '-div').fadeOut();
                }
                })
            }
        });

    </script>        
{% endblock content %}


