html, body {
    width: auto !important;
    overflow-x: hidden !important;
}
  
body{
    position:relative;
	max-width:100%;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

.loader{
	background-color:#222;
	width:100vw;
	height:100vh;
	position: fixed;
	z-index:999999999;
}

.square{
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width:70px;
	height: 70px;
	background-color:#fff;
	position: absolute;
	-webkit-animation: load 1.2s infinite ease-in-out;
	animation: load 1.2s infinite ease-in-out;
}

@-webkit-keyframes load {
	0% { -webkit-transform: perspective(150px) rotateY(0deg) rotateX(0deg)}
	50% { -webkit-transform: perspective(150px) rotateY(180deg) rotateX(0deg)}
	100% { -webkit-transform: perspective(150px) rotateY(180deg)  rotateX(180deg) }
}
  
@keyframes load {
	0% { 
	  transform: perspective(150px) rotateX(0deg) rotateY(0deg);
	  -webkit-transform: perspective(150px) rotateX(0deg) rotateY(0deg); 
	} 50% { 
	  transform: perspective(150px) rotateX(-180deg) rotateY(0deg);
	  -webkit-transform: perspective(150px) rotateX(-180deg) rotateY(0deg);
	  background-color:#89c7f6;
	} 100% { 
	  transform: perspective(150px) rotateX(-180deg) rotateY(-180deg);
	  -webkit-transform: perspective(150px) rotateX(-180deg) rotateY(-180deg);
	}
}

/*Navbar style when at the top*/
.nav-top{
	background-color: #222;
	border-width: 0px;
	transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
}

.nav-top .navbar-header{
	padding: 20px;
	padding-bottom: 10px;
	min-width: 20vw;
}

.nav-top .navbar-brand{
	font-family: 'Spartan', sans-serif;
	font-size:20px; 
	font-weight: 200;
	letter-spacing:5px;
	color:#fff;
}

.nav-top .navbar-brand:hover{
	color:#fff;
}

.nav-top .search-icon{
	color:#fff;
	position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
	margin-bottom: 8px;
	margin-left:10px;
    background-color: transparent;
}

.nav-top .search-bar-div{
	border-bottom: 2px solid #222;
}

.nav-top .search-bar-input:focus{
	border-bottom: 2px solid #222;
}

.nav-top .navbar-header #navicon{
	color: #fff;
}

.nav-top .navbar-collapse{
	padding: 20px;
	padding-bottom: 10px;
}

.nav-top .navbar-collapse .navbar-right li a {
	font-family: 'Spartan', sans-serif;
	font-size:15px; 
	font-weight: 200;
	letter-spacing:2px;
	text-align: center;
	color:#fff;
	transition: border-bottom 0.5s linear;
}

.nav-top .navbar-collapse .navbar-right li a:after {
	display:block;
  	content: '';
  	margin-top: 3px;
  	border-bottom: solid 1px #fff;  
  	transform: scaleX(0);  
 	transition: transform 250ms ease-in-out;
}

.nav-top .navbar-collapse .navbar-right li a:hover {
	background-color: transparent;
}

.nav-top .navbar-collapse .navbar-right li a:hover:after {
	transform: scaleX(0.5);
}

/*Navbar style on scrolling*/
.nav-scroll{
	background-color: #fff;
	border-width: 0px;
	border-bottom: 1px solid #4330ab;
	transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
}
.nav-scroll .navbar-header{
	padding: 20px;
	padding-bottom: 10px;
}

.nav-scroll .navbar-brand{
	font-family: 'Spartan', sans-serif;
	font-size:20px; 
	font-weight: 600;
	letter-spacing:5px;
	color:#4330ab;
}

.nav-scroll .navbar-brand:hover{
	color:#4330ab;
}

.nav-scroll .search-icon{
	color:#4330ab;
	position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
	margin-bottom: 8px;
	margin-left:10px;
    background-color: transparent;
}

.nav-scroll .search-bar-div{
	border-bottom: 2px solid #4330ab;
}

.nav-scroll .search-bar-input:focus{
	border-bottom: 2px solid #4330ab;
}

.nav-scroll .navbar-header #navicon{
	color: #4330ab;
}

.nav-scroll .navbar-collapse{
	padding: 20px;
	padding-bottom: 10px;
}

.nav-scroll .navbar-collapse .navbar-right li a {
	font-family: 'Spartan', sans-serif;
	font-size:15px; 
	font-weight: 600;
	letter-spacing:2px;
	text-align: center;
	color:#4330ab;
	transition: border-bottom 0.5s linear;
}

.nav-scroll .navbar-collapse .navbar-right li a::after {
	display:block;
  	content: '';
  	margin-top: 3px;
  	border-bottom: solid 2px #4330ab;  
  	transform: scaleX(0);  
 	transition: transform 250ms ease-in-out;
}

.nav-scroll .navbar-collapse .navbar-right li a:hover {
	background-color: transparent;
}

.nav-scroll .navbar-collapse .navbar-right li a:hover::after {
	transform: scaleX(0.5);
}

/* For changing position of search bar */
@media (max-width: 768px){
	.search-bar-div {
		width: 100%;
		padding: 10px 20px;
		margin:0;
		border-radius: 0;
	}
}

@media (min-width: 769px){
	.search-bar-div {
		left:auto;
		width: 270px;
		padding: 10px 20px;
		border-radius: 0;
		margin: 0;
	}
}

@media (max-width: 768px){
	.tag-suggestions {
		width: 100%;
		margin:0;
		border-radius: 0;
		cursor: pointer;
	}
}

@media (min-width: 769px){
	.tag-suggestions {
		width: 270px;
		border-radius: 0;
		margin: 0;
		cursor: pointer;
	}
}

.search-bar-input{
	background-color: #f7f7f7;
	border: none;
	border-bottom: 2px solid #999;
	border-radius: 0px;
	box-shadow: none;
	outline: none;
	font-family: 'Spartan', sans-serif;
	font-size: 13px;
	color:#222;
	padding: 10px;
	transition: all 0.4s ease;
  	-webkit-transition: all 0.4s ease;
  	-o-transition: all 0.4s ease;
  	-moz-transition: all 0.4s ease;
}

.search-bar-input:focus{
	border: none;
	border-radius: 0px;
	box-shadow: none;
	outline: none;
}

.notif-icon{
	display: inline-block !important;
  	position: relative !important;
	padding: 5px !important;
}

.notif-icon-link::after{
	border: none !important;
}

.tag-link{
	text-align: left !important;
}

.tag-link::after{
	border: none !important;
}

.tag-link:hover{
	text-decoration: none;
}

.notif-count{
	font-family: 'Roboto',sans-serif;
	font-size: 10px;
	background-color: #fa3e3e;
  	border-radius: 2px;
  	color: #fff;
  	padding: 2px 2px;
	font-size: 10px;
	font-weight: 600;  
  	position: absolute;
  	top: 0;
  	right: 0;
}

.notif-container{
	padding:0px;
	min-width: 35vw;
}

@media (min-width: 769px){
	.notif-container {
		overflow-y: scroll;
		max-height: 80vh;
	}
}

.notif-head-div{
	background-color: #444;
	padding: 10px;
	margin-top:0;
}

.notif-head-font{
	color: #fff;
	font-family: 'Spartan', sans-serif;
	letter-spacing: 1px !important;
	font-weight: 300;
	font-size: 13px;
}

.notif-seen{
	background-color: #f7f7f7 !important;
}

.notif-div{
	background-color: #ddd;
	padding: 10px;
	border-radius: 7px;
	margin: 5px ;
}

.notif-font{
	color: #222;
	font-family: 'Spartan', sans-serif;
	letter-spacing: normal !important;
	font-weight: 300;
	font-size: 13px;
	
}

.notif-bold{
	font-weight: 500 !important;
}

.notif-footer-div{
	background-color: #444;
	padding: 5px 10px;
	margin-top:0;
}

.notif-footer-font{
	color: #fff !important;
	font-family: 'Spartan', sans-serif !important;
	letter-spacing: normal !important;
	font-weight: 300 !important;
	font-size: 10px !important;
}

.notif-footer-font:hover{
	text-decoration: none !important;
}

.notif-footer-font::after{
	border:none !important;
}

.message-font{
	font-family: 'Raleway',sans-serif;
	font-size:15px;
}

.body-content{
	padding:10px;
	padding-top: 15vh;
}

.create-post-div{
	margin:5px;
	background:linear-gradient(45deg, #380957, #9f0fac);
	background:-webkit-linear-gradient(45deg, #380957, #9f0fac);
	background:-moz-linear-gradient(45deg, #380957, #9f0fac);
	background:-o-linear-gradient(45deg, #380957, #9f0fac);
	padding:10px;
	border-radius: 10px;
}

.create-font{
	font-family: 'Raleway',sans-serif;
	font-size:25px;
	font-weight: 200;
	color:#fff;
}

.create-input{
	background-color: transparent;
	display: block;
	border: none;
	border-radius: 0px;
	box-shadow: none;
	outline: none;
	resize: none;
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	line-height: 1.2;
	color:#fff;
	padding: 0 5px;
	max-height: 50vh;
}

.create-input:focus{
	border: none;
	border-radius: 0px;
	box-shadow: none;
	outline: none;
}

.create-input-focus::after{
	content: "";
  	display: block;
	position: absolute;
  	bottom: -10px;
  	right: 0;
 	left: 0;
  	width: 100%;
  	height: 2px;
  	background-color: rgba(255,255,255,0.24);
}

.create-input-focus::before{
	content: "";
  	display: block;
	position: absolute; 
  	bottom: -10px;
  	right: 0;
 	left: 0;
  	width: 0;
  	height: 2px;
	transition: all 0.4s ease;
  	-webkit-transition: all 0.4s ease;
  	-o-transition: all 0.4s ease;
  	-moz-transition: all 0.4s ease;
	background-color:#fff;  
}

.create-input:focus + .create-input-focus::before{
	width: 100%;
}

.post-char-counter{
	color: #fff;
	font-family: 'Spartan', sans-serif;
	font-size: 10px;
	margin-top: 10px;
	float:right;
	font-weight: 600;
	opacity: 50%;
}

.create-btn:before {
	font-family: "Font Awesome 5 Free";
  	font-weight: 900;
  	content: "\f061";
  	color:#380957;
	left: 130%;
	top: 0;
	position: absolute;
	height: 100%;
	padding: 10px 0px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.create-btn {
	border-radius: 2px;
	border: 2px solid #fff;
	font-family: 'Raleway',sans-serif;
	font-size: 15px;
	color: #fff;
	background:transparent;
	cursor: pointer;
	padding: 10px 25px;
	margin: 10px;
	font-weight: 500;
	outline: none;
	position: relative;
	overflow: hidden;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.create-btn:hover{
	color:#380957;
	background-color: #fff;
}

.create-btn:hover:before {
	left: 75%;
}

.create-btn:active{
    top:1px;
}

.home-post-div{
	margin:5px;
	background-color: #f7f7f7;
	padding:10px;
	border-radius: 10px;
}

.comment-div{
	padding:10px;
	margin-top:5px;
	border-radius: 30px;
	background-color: #ececec;
}

.content-div{
	overflow-wrap:break-word;
}

.username-font{
	font-family: 'Spartan',sans-serif;
	font-size:20px;
	color:#222;
}

.comment-username-font{
	font-family: 'Raleway',sans-serif;
	font-size:15px;
	color:#222;
	text-decoration:none;
}

.comment-username-font p{
	margin: 0;
}

.name-font{
	font-family: 'Raleway',sans-serif;
	font-size:13px;
	font-weight: 700;
	color:rgb(49, 49, 49);
}

.date-font{
	font-family: 'Spartan',sans-serif;
	font-size:9px;
	font-weight: 500;
	color:rgb(94, 94, 94);
	transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
}

.post-head:hover{
	text-decoration:none;
}

.date-font:hover{
	color:rgb(94, 94, 94);
	text-decoration: underline;
}

.profile-pic{
	float: right;
	object-fit: cover;
	transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
}

.delete-div{
	padding-top: 5px;
}

.delete-icon{
	color:#505050;
	transition:all 0.1s ease;
	-webkit-transition:all 0.1s ease;
	-moz-transition:all 0.1s ease;
	-o-transition:all 0.1s ease;

}

.delete-icon:hover{
	color:#a10000;
}

.post-content-font{
	font-family: 'Raleway',sans-serif;
	font-size:15px;
	color:#222;
}

.like-count-font{
	font-family: 'Raleway',sans-serif;
	font-size:12px;
	font-weight: 700;
	color:#222;
}

.like-wrapper{
	display: flex;
}

.likes-count{
	margin-top: 3px;
	margin-left: 4px;
	margin-right: 4px;
}

.comments-count{
	margin-top: 3px;
	margin-left:auto; 
	margin-right:0;
}

.more-comments-font{
	font-family: 'Raleway',sans-serif;
	font-size:12px;
	font-weight: 600;
	color:rgb(94, 94, 94);
	transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
}

.more-comments-font:hover{
	text-decoration: underline;
	color:rgb(94, 94, 94);
}

.see-more{
	color:#823aa0;
	font-weight:20px;
	cursor:pointer;
}

.see-less{
	color:#823aa0;
	font-weight:20px;
	cursor:pointer;
}

.see-more:hover{
	color:#380957;
}

.see-less:hover{
	color:#380957;
}

.like-button-wrapper{
	margin-top: 0.5px;
}

.likes{
	color:#222;
	transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
}

.likes:hover{
	color:#ff0033;
	cursor: pointer;
}

.liked{
	color:#ff0033;
	transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
}

.liked:hover{
	cursor: pointer;
}


.comment-input{
	background-color: transparent;
	display: block;
	border: none;
	border-radius: 0px;
	box-shadow: none;
	outline: none;
	resize: none;
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	line-height: 1.2;
	color:#222;
	padding: 0 5px;
	max-height: 50vh;
}

.comment-input:focus{
	border: none;
	border-radius: 0px;
	box-shadow: none;
	outline: none;
}

.comment-input-focus::after{
	content: "";
  	display: block;
	position: absolute;
  	bottom: -10px;
  	right: 0;
 	left: 0;
  	width: 100%;
  	height: 2px;
  	background-color: #999;
}

.comment-input-focus::before{
	z-index: 999;
	content: "";
  	display: block;
	position: absolute; 
  	bottom: -10px;
	right: 0;
 	left: 0;
  	width: 0;
	height: 2px;
	transition: all 0.4s ease;
  	-webkit-transition: all 0.4s ease;
  	-o-transition: all 0.4s ease;
  	-moz-transition: all 0.4s ease;
	background-color:#222;  
}

.comment-input:focus + .comment-input-focus::before{
	width: 100%;
}

.comment-btn {
	border-radius: 2px;
	border: 2px solid #380957;
	font-family: 'Raleway',sans-serif;
	font-size: 12px;
	color: #380957;
	background: transparent;
	cursor: pointer;
	padding: 5px 10px;
	margin-top:10px;
	font-weight: 500;
	outline: none;
	position: relative;
	overflow: hidden;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.comment-btn:hover{
    color:#fff;
    background:linear-gradient(45deg, #380957, #9f0fac);
	background:-webkit-linear-gradient(45deg, #380957, #9f0fac);
	background:-moz-linear-gradient(45deg, #380957, #9f0fac);
    background:-o-linear-gradient(45deg, #380957, #9f0fac);
    border: 2px solid transparent;
}

.comment-btn:active{
    top:1px;
}

.char-counter{
	color: #999;
	font-family: 'Spartan', sans-serif;
	font-size: 10px;
	margin-top: 10px;
	float:right;
	font-weight: 600;
	opacity: 50%;
}

.form{
	padding:20px;
	padding-bottom: 0;
}

.details-font{
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 500;
}

.details-small-font{
	font-family: 'Raleway', sans-serif;
	font-size: 11px;
	font-weight: 500;
	color:#999;
}

.bio-div{
	margin:5px;
	background-color: #f7f7f7;
	padding:5px 10px;
	border-radius: 10px;
}

.bio-font{
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 400;
}

.profile-font-1{
	font-family: 'Spartan', sans-serif;
	font-weight: 700;
	font-size: 15px;
}

form{
	font-family: 'Raleway',sans-serif;
}

#home{
    background-image: url("back.jpg");
    background-attachment: fixed;
	overflow: hidden;
	background-size: cover;
	height:100vh;
}

.hr1{
	background-color:#222;
	width:30%;
	height:3px;
}

.github{
	color:#222;
	transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
}

.setup-heading{
	font-family: 'Spartan',sans-serif;
	font-size: 35px;
	color: #380957;
	font-weight: 600;
	float: left;
}

.skip-btn{
	float:right;
	border-radius: 2px;
	border: 2px solid #222;
	font-family: 'Raleway',sans-serif;
	font-size: 18px;
	color: #222;
	background: transparent;
	cursor: pointer;
	padding: 10px 25px;
	margin:10px;
	font-weight: 500;
	outline: none;
	position: relative;
	overflow: hidden;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.skip-btn:hover{
	color:#fff;
    background-color: #380957;
}

.skip-btn:active{
    top:1px;
}

.edit-btn{
	float:none;
	border-radius: 2px;
	border: 2px solid #222;
	font-family: 'Raleway',sans-serif;
	font-size: 10px;
	color: #222;
	background: transparent;
	cursor: pointer;
	padding: 5px 10px;
	margin:10px;
	font-weight: 500;
	outline: none;
	position: relative;
	overflow: hidden;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.edit-btn:hover{
	color:#fff;
    background-color: #380957;
}

.skip-btn:active{
    top:1px;
}
.progress-div{
	margin-top:20px;
	height: 5px;
	margin-bottom: 0;
}

.progress-sub-div{
	background-color: #380957;
}

.progress-label{
	font-family: 'Spartan',sans-serif;
	font-weight: 200;
	color:#222;
	font-size: 15px;
	margin:0;
	margin-top: 10px;
}

.setup-btn {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #222;
  cursor: pointer;
  color: #222;
  margin:20px;
}

.setup-btn:hover{
	color:#380957;
}

.setup-img{
	margin-bottom:10px;
}

.modal-header{
	background:linear-gradient(45deg, #380957, #9f0fac);
	background:-webkit-linear-gradient(45deg, #380957, #9f0fac);
	background:-moz-linear-gradient(45deg, #380957, #9f0fac);
    background:-o-linear-gradient(45deg, #380957, #9f0fac);
}

.modal-heading{
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	color: #fff;
	font-weight: 300;
}

.modal-body{
	overflow-y: auto;
	max-height:70vh;
}

.user-wrapper{
	background-color: #e0e0e0;
	padding:5px;
	margin:5px;
	border-radius: 25px;
}

.liker-username-font{
	font-family: 'Spartan',sans-serif;
	font-size:12px;
	color:#222;
	font-weight: 600;
}

.liker-name-font{
	font-family: 'Spartan',sans-serif;
	font-size:10px;
	color:#222;
	font-weight: 400;
}

.liker-link:hover{
	text-decoration: none;
}

.profile-img-div{
	display:block;
	min-height: 150px;
}

.github:hover{
	color:#f8a001;
}

#footer{
	padding-top:40px;
	padding-bottom: 30px;
	background-color: #fff;
}

.footer-font{
	font-family: 'Raleway',sans-serif;
	font-size: 15px;
	font-weight: 300;
	color:#222;
}

.setup-img{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-o-transition: all 0.1s;
}

.setup-img:hover{
	padding: 30px;
	width:250px;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
}

.setup-btn:focus{
	outline:none;
	box-shadow:none;
	border:none;
}

.tag-link{
	text-decoration: none;
	font-weight:500;
	color:rgb(83, 0, 72);
}

.tag-link:hover{
	color: #000000;
	text-decoration: none;
}


.login-input{
	background-color: #f7f7f7;
	border: none;
	border-bottom: 2px solid #f7f7f7;
	border-radius: 0px;
	box-shadow: none;
	outline: none;
	font-family: 'Spartan', sans-serif;
	font-size: 17px;
	line-height: 1.2;
	color:#222;
	padding: 30px;
	transition: all 0.4s ease;
  	-webkit-transition: all 0.4s ease;
  	-o-transition: all 0.4s ease;
  	-moz-transition: all 0.4s ease;
}

.login-input:focus{
	border: none;
	border-radius: 0px;
	border-bottom: 2px solid #222;
	box-shadow: none;
	outline: none;
}

.edit-form-div{
	padding:10px;
}

.label-font{
	font-family: 'Raleway',sans-serif;
	font-size: 15px;
	color: #222;
	font-weight: 500;
}

.edit-image-btn{
	float:none;
	border-radius: 2px;
	border: 2px solid #222;
	font-family: 'Raleway',sans-serif;
	font-size: 15px;
	color: #222;
	background: transparent;
	cursor: pointer;
	padding: 10px 20px;
	margin:15px;
	font-weight: 500;
	outline: none;
	position: relative;
	overflow: hidden;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.edit-image-btn:hover{
	color:#fff;
    background-color: #380957;
}

.upload-div{
	background-color: #ddd;
	margin: 10px;
	padding: 20px;
	border-radius: 10px;
}

.image-div-font{
	font-family: 'Raleway',sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #222;
	margin: 10px;
}

.image-input{
	height: 0.1px;
	width: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}