html, body {
    width: auto !important;
    overflow-x: hidden !important;
}
  
body{
      position:relative;
      max-width:100%;
}

.loader{
	background-color:#222;
	width:100vw;
	height:100vh;
	position: fixed;
	z-index:999999999;
}

.square{
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width:70px;
	height: 70px;
	background-color:#fff;
	position: absolute;
	-webkit-animation: load 1.2s infinite ease-in-out;
	animation: load 1.2s infinite ease-in-out;
}

@-webkit-keyframes load {
	0% { -webkit-transform: perspective(150px) rotateY(0deg) rotateX(0deg)}
	50% { -webkit-transform: perspective(150px) rotateY(180deg) rotateX(0deg)}
	100% { -webkit-transform: perspective(150px) rotateY(180deg)  rotateX(180deg) }
}
  
@keyframes load {
	0% { 
	  transform: perspective(150px) rotateX(0deg) rotateY(0deg);
	  -webkit-transform: perspective(150px) rotateX(0deg) rotateY(0deg); 
	} 50% { 
	  transform: perspective(150px) rotateX(-180deg) rotateY(0deg);
	  -webkit-transform: perspective(150px) rotateX(-180deg) rotateY(0deg);
	  background-color:#89c7f6;
	} 100% { 
	  transform: perspective(150px) rotateX(-180deg) rotateY(-180deg);
	  -webkit-transform: perspective(150px) rotateX(-180deg) rotateY(-180deg);
	}
}

/*Navbar style when at the top*/
.nav-top{
	background-color: #222;
	border-width: 0px;
	transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
}

.nav-top .navbar-header{
	padding: 20px;
	padding-bottom: 10px;
}

.nav-top .navbar-brand{
	font-family: 'Spartan', sans-serif;
	font-size:20px; 
	font-weight: 200;
	letter-spacing:5px;
	color:#fff;
}

.nav-top .navbar-brand:hover{
	color:#fff;

}
.nav-top .navbar-collapse{
	padding: 20px;
	padding-bottom: 10px;
}

.nav-top .navbar-collapse .navbar-right li a {
	font-family: 'Spartan', sans-serif;
	font-size:15px; 
	font-weight: 200;
	letter-spacing:2px;
	text-align: center;
	color:#fff;
	transition: border-bottom 0.5s linear;
}

.nav-top .navbar-collapse .navbar-right li a:after {
	display:block;
  	content: '';
  	margin-top: 3px;
  	border-bottom: solid 1px #fff;  
  	transform: scaleX(0);  
 	transition: transform 250ms ease-in-out;
}

.nav-top .navbar-collapse .navbar-right li a:hover {
	background-color: transparent;
}

.nav-top .navbar-collapse .navbar-right li a:hover:after {
	transform: scaleX(0.5);
}

/*Navbar style on scrolling*/
.nav-scroll{
	background-color: #fff;
	border-width: 0px;
	border-bottom: 1px solid #4330ab;
	transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
}
.nav-scroll .navbar-header{
	padding: 20px;
	padding-bottom: 10px;
}

.nav-scroll .navbar-brand{
	font-family: 'Spartan', sans-serif;
	font-size:20px; 
	font-weight: 600;
	letter-spacing:5px;
	color:#4330ab;
}

.nav-scroll .navbar-brand:hover{
	color:#4330ab;

}
.nav-scroll .navbar-collapse{
	padding: 20px;
	padding-bottom: 10px;
}

.nav-scroll .navbar-collapse .navbar-right li a {
	font-family: 'Spartan', sans-serif;
	font-size:15px; 
	font-weight: 600;
	letter-spacing:2px;
	text-align: center;
	color:#4330ab;
	transition: border-bottom 0.5s linear;
}

.nav-scroll .navbar-collapse .navbar-right li a::after {
	display:block;
  	content: '';
  	margin-top: 3px;
  	border-bottom: solid 2px #4330ab;  
  	transform: scaleX(0);  
 	transition: transform 250ms ease-in-out;
}

.nav-scroll .navbar-collapse .navbar-right li a:hover {
	background-color: transparent;
}

.nav-scroll .navbar-collapse .navbar-right li a:hover::after {
	transform: scaleX(0.5);
}

.message-font{
	font-family: 'Raleway',sans-serif;
	font-size:15px;
}

.body-content{
	padding-top: 15vh;
	padding-left:10px;
}

.create-post-div{
	margin:5px;
	background:linear-gradient(45deg, #380957, #9f0fac);
	background:-webkit-linear-gradient(45deg, #380957, #9f0fac);
	background:-moz-linear-gradient(45deg, #380957, #9f0fac);
	background:-o-linear-gradient(45deg, #380957, #9f0fac);
	padding:10px;
	border-radius: 10px;
}

.create-font{
	font-family: 'Raleway',sans-serif;
	font-size:25px;
	font-weight: 200;
	color:#fff;
}

.create-input{
	background-color: transparent;
	display: block;
	border: none;
	border-radius: 0px;
	box-shadow: none;
	outline: none;
	resize: none;
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	line-height: 1.2;
	color:#fff;
	padding: 0 5px;
	max-height: 50vh;
}

.create-input:focus{
	border: none;
	border-radius: 0px;
	box-shadow: none;
	outline: none;
}

.create-input-focus::after{
	content: "";
  	display: block;
	position: absolute;
  	bottom: -10px;
  	right: 0;
 	left: 0;
  	width: 100%;
  	height: 2px;
  	background-color: rgba(255,255,255,0.24);
}

.create-input-focus::before{
	content: "";
  	display: block;
	position: absolute; 
  	bottom: -10px;
  	right: 0;
 	left: 0;
  	width: 0;
  	height: 2px;
	transition: all 0.4s ease;
  	-webkit-transition: all 0.4s ease;
  	-o-transition: all 0.4s ease;
  	-moz-transition: all 0.4s ease;
	background-color:#fff;  
}

.create-input:focus + .create-input-focus::before{
	width: 100%;
}

.create-btn{
	background-color: #823aa0;
	border: none;
	padding: 10px 40px 10px 40px;
	color: #fff;
	font-family: 'Raleway',sans-serif;
	font-size: 17px;;
	font-weight: 300;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
}

.create-btn::before{
	top:0;
	left:-100%;
	font-family: "Font Awesome 5 Free"; font-weight: 900;
	content:'\f061';

}

.home-post-div{
	margin:5px;
	background-color: #f7f7f7;
	padding:10px;
	border-radius: 10px;
}

.comment-div{
	padding:10px;
	margin-top:5px;
	border-radius: 30px;
	background-color: #ececec;
}

.username-font{
	font-family: 'Raleway',sans-serif;
	font-size:25px;
	color:#222;
}

.comment-username-font{
	font-family: 'Raleway',sans-serif;
	font-size:15px;
	color:#222;
}

.name-font{
	font-family: 'Raleway',sans-serif;
	font-size:13px;
	font-weight: 700;
	color:rgb(49, 49, 49);
}

.date-font{
	font-family: 'Spartan',sans-serif;
	font-size:9px;
	font-weight: 500;
	color:rgb(94, 94, 94);
	transition:all 0.1s ease;
	-webkit-transition:all 0.1s ease;
	-moz-transition:all 0.1s ease;
	-o-transition:all 0.1s ease;
}

.post-head:hover{
	text-decoration:none;
}

.date-font:hover{
	color:rgb(94, 94, 94);
	text-decoration: underline;
}

.profile-pic{
	float: right;
	object-fit: cover;
	transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
}

.delete-div{
	padding-top: 5px;
}

.delete-icon{
	color:#505050;
	transition:all 0.1s ease;
	-webkit-transition:all 0.1s ease;
	-moz-transition:all 0.1s ease;
	-o-transition:all 0.1s ease;

}

.delete-icon:hover{
	color:#a10000;
}

.post-content-font{
	font-family: 'Raleway',sans-serif;
	font-size:15px;
	color:#222;
}

.like-count-font{
	font-family: 'Raleway',sans-serif;
	font-size:12px;
	font-weight: 700;
	color:#222;
}

.like-wrapper{
	display: flex;
}

.likes-count{
	margin-top: 3px;
	margin-left: 4px;
	margin-right: 4px;
}

.comments-count{
	margin-top: 3px;
	margin-left:auto; 
	margin-right:0;
}

.like-button-wrapper{
	margin-top: 0.5px;
}

.likes{
	color:#222;
	transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
}

.likes:hover{
	color:#ff0033;
	cursor: pointer;
}

.liked{
	color:#ff0033;
	transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
}

.liked:hover{
	cursor: pointer;
}

.form{
	padding:20px;
}

.details-font{
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 500;
}

.bio-font{
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 400;
}

.profile-font-1{
	font-family: 'Spartan', sans-serif;
	font-weight: 700;
	font-size: 15px;
}

.label-font{
	font-family: 'Raleway',sans-serif;
	font-size:16px;
	color:#222;
}

form{
	font-family: 'Raleway',sans-serif;
}

.head1{
    font-family: 'Raleway', sans-serif;
    color:#fff;
    font-size: 75px;
    transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	-moz-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
}

.down{
    color:#fff;
    transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	-moz-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
}

.down:hover{
	color: #4d9fde;
}

#home{
    background-image: url("back.jpg");
    background-attachment: fixed;
	overflow: hidden;
	background-size: cover;
	height:100vh;
}

.head2{
	font-family: 'Raleway', sans-serif;
	color:#222;
}

.hr1{
	background-color:#222;
	width:30%;
	height:3px;
}

.font1{
	font-family: 'Raleway',sans-serif;
	color:#222;
	font-size: 20px;
}

.font2{
	font-family: 'Raleway',sans-serif;
	font-size:24px;
	color:#222;
}

.font3{
	font-family: 'Raleway',sans-serif;
	font-size:18px;
	color:#222;
}

.github{
	color:#222;
	transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
}

.github:hover{
	color:#f8a001;
}

#footer{
	padding-top:40px;
	padding-bottom: 30px;
}

.footer_font{
	font-family: 'Raleway',sans-serif;
	font-size: 15px;
	font-weight: 700;
	color:#222;
}